
.row {
    display: flex;
    flex-wrap: wrap;
}
.navigation-menu {
    display: flex;
    justify-content: space-evenly;
     flex-flow: column wrap;
    width: 100px;
}

.logo-tm{
    max-width: 80px;
    padding: 0;
    margin: 0;
}

.navbar-brand, .nav-menu {
    font-family: 'Courier New', Courier, monospace;
}

.navbar-nav a {
    text-align: right !important;
}